<div class="footer" style="background-color:gray" id="footer">
	<div class="container">
		<ul>
			<li>
		</ul>

	</div>
	<div class="container">
		<h2> Available for iPhone and Android </h2>
		<img src="https://s3.amazonaws.com/codecademy-content/projects/shutterbugg/app-store.png" width="120px"/>
		<img src="https://s3.amazonaws.com/codecademy-content/projects/shutterbugg/google-play.png" width="110px"/>
	</div>
	<ul class="nav pull-right scroll-top">
		<li><a href="#" title="Scroll to top"><i class="glyphicon glyphicon-chevron-up"></i></a></li>
	</ul>
 <!--    <ul>
        <a href="#">Contact Us</a>
        <a href="#">About Us</a>
        <a href="#">Social Media</a>
        <a href="#">Download</a>
      </ul> -->
</div>
