<div class="row">
      <div class="col-sm-3">
          <img src="images/tutor.png" style="width:60%">        
      </div>
      <div class="col-sm-3">
          <img src="images/movers.jpg" style="width:60%">        
      </div>
      <div class="col-sm-3">
          <img src="images/plumbers.png" style="width:60%">        
      </div>
      <div class="col-sm-3">
          <img src="images/electrician.jpg" style="width:60%">        
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
          <img src="images/notary.gif" style="width:60%">        
      </div>
      <div class="col-sm-3">
          <img src="images/handyman.png" style="width:60%">        
      </div>
      <div class="col-sm-3">
          <img src="images/eventmanagement.png" style="width:60%">        
      </div>
      <div class="col-sm-3">
          <img src="images/cleaning.png" style="width:60%">        
      </div>
</div>
